<!-- views/partials/listing_subview_list.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <div class="listing_subview_list">
            <img src="<%=listing.image_url%>" alt="Image" class="listing_subview_list_image">
            <h2><%=listing.name%></h2>
            <h2>$<%=listing.price%></h2>
        </div>
    </body>
</html>