<!-- views/partials/listing_subview_square.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/partials/listing_subview_square_styles.css">

    </head>
    <body>
        <!-- Main Container -->
        <div class="listing_subview_square_view">
            <!-- Image (embedded in a container) - Top of Subview -->
            <div class="listing_subview_square_image_container">
                <img class="listing_subview_square_image" src="https://www.creativefabrica.com/wp-content/uploads/2023/04/06/Cute-Hamster-kawaii-clipart-Graphics-66428546-1.jpg" alt="Image">
            </div>

            <!-- Listing Info - Below Image -->
            <div class="listing_subview_square_info">
                <h3 class="listing_subview_title">Happy Mix</h3>
                <h3 class="listing_subview_price">$5</h3>
            </div>

            <!-- Listing SubInfo - Below main info -->
            <div class="listing_subview_square_subinfo">
                <p style="font-family: Poppins Light; margin-right: 10px;">By Maria,</p>
                <p style="font-family: Poppins Light;">United Kingdom</p>
            </div>
        </div>
    </body>
</html>