<!-- views/partials/listing_subview_list.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <div class="listing_subview_list">
            <img src="https://www.creativefabrica.com/wp-content/uploads/2023/04/06/Cute-Hamster-kawaii-clipart-Graphics-66428546-1.jpg" alt="Image" style="max-width: 10%; max-height: 10%; border-radius: 10px;">
            <h1 class="listing_subview_title">Happy Mix</h1>
            <h1 class="listing_subview_price">$5</h1>
    </div>
    </body>
</html>