<!-- views/partials/navigation_bar.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/partials/navigation_bar_styles.css">

    </head>
    <body>
        <!-- Navigation Bar -->
        <div class="navigation_bar">
            <!-- Website Title -->
            <span><a class="header" href="/listings" style="text-decoration: none; color: inherit;">
                <img class="logo" src="https://www.creativefabrica.com/wp-content/uploads/2023/04/06/Cute-Hamster-kawaii-clipart-Graphics-66428546-1.jpg" alt="logo">
                <h2 >hamsterstore</h2>
            </a></span>
            
            <form class="search_box">
                <input type="text" class="form_input" placeholder="Search all listings...">
            </form>

            <span><a class="nav_bar_buttons" href="/vendor_dashboard" style="text-decoration: none; color: darkblue;">Switch to Vendor</a></span>
            <span><a class="nav_bar_buttons" href="/user_cart">
                <img class="nav_bar_icon" src="/images/cart.png" alt="Cart">
            </a></span>
            <span><a class="nav_bar_buttons" href="/profile">
                <img class="nav_bar_icon" src="/images/profile.png" alt="Profile">
            </a></span>
        </div>
    </body>
</html>