<!-- views/partials/navigation_bar.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <!-- Navigation Bar -->
        <div class="navigation_bar">
            <span><a href="/listings">Listings</a></span>
            <span><a href="/vendor_dashboard">Vendor Dashboard</a></span>
            <span><a href="/user_cart">Cart</a></span>
            <span><a href="/profile">Profile</a></span>
        </div>
    </body>
</html>