<!-- views/partials/navigation_bar.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <!-- Navigation Bar -->
        <div class="navigation_bar">
            <span><a class="nav_bar_buttons" href="/listings">Listings</a></span>
            <form>
                <input class="search_bar" type="text" placeholder="Search all listings...">
            </form>

            <span><a class="nav_bar_buttons" href="/vendor_dashboard">Vendor Dashboard</a></span>
            <span><a class="nav_bar_buttons" href="/user_cart">Cart</a></span>
            <span><a class="nav_bar_buttons" href="/profile">Profile</a></span>
        </div>
    </body>
</html>