<!-- views/partials/vendor_navigation_bar.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/partials/navigation_bar_styles.css">

    </head>
    <body>
        <!-- Navigation Bar -->
        <div class="vendor_navigation_bar">
            <div style="display: flex; flex-flow: row nowrap; align-items: center;">

                <!-- Website Title - navigates the user back to listings.ejs - Left -->
                <span><a class="nav_bar_header" href="/listings" style="text-decoration: none; color: inherit; margin-right: 50px;">
                    <img class="logo" src="https://www.creativefabrica.com/wp-content/uploads/2023/04/06/Cute-Hamster-kawaii-clipart-Graphics-66428546-1.jpg" alt="logo">
                    <h2 >hamsterstore</h2>
                </a></span>

                <!-- Dashboard Button - Right Side -->
                <span><a class="nav_bar_button" href="/vendor_dashboard" style="text-decoration: none; color: darkblue; margin-right: 50px;">Dashboard</a></span>

                <!-- My Products Button - Right Side -->
                <span><a class="nav_bar_button" href="/vendor_listings" style="text-decoration: none; color: darkblue;">My Products</a></span>

            </div>


            <div style="display: flex; flex-flow: row nowrap; align-items: center;">
                <!-- Switch to Buyer Button - Right Side -->
                <span><a class="nav_bar_button" href="/listings" style="text-decoration: none; color: darkblue; margin-right: 50px">Switch to Buyer</a></span>
                
                <!-- User Profile Button - redirects to onboarding if user is not signed in - Farthest Right -->
                <span><a class="nav_bar_button" href="/profile">
                    <img class="nav_bar_button_icon" src="/images/profile.png" alt="Profile">
                </a></span>
            </div>
        </div>
    </body>
</html>