<!-- views/partials/vendor_order_subview.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <div class="vendor_order_item">
            <img src="https://www.creativefabrica.com/wp-content/uploads/2023/04/06/Cute-Hamster-kawaii-clipart-Graphics-66428546-1.jpg" alt="Image" style="max-width: 10%; max-height: 10%; border-radius: 10px;">
            <div class="vendor_order_info_container">
                <div class="vendor_order_info">
                    <h3>Happy Mix, </h3>
                    <h3>2 Quantity</h3>
                    <h3>to</h3>
                    <h3>@buyer#1234</h3>
                </div>
    
                <div class="vendor_order_subinfo">
                    <p>Deliver by</p>
                    <p>September 5th</p>
                    <p>to</p>
                    <p>1600 Pennsylvania Avenue</p>
                </div>    
            </div>
            <div style="display: flex; flex-direction: row; gap: 20%; align-items: center; margin-right: 5%;">
                <h2 style="font-family: 'Poppins Light';">$20.21</h2>
                <h3 style="font-family: 'Poppins Light';">View</h3>
            </div>
        </div>
    </body>
</html>