<!-- views/listings.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Listings</title>
    </head>

    <body>
        <%- include ('./partials/navigation_bar.ejs') %>

        <!-- Title -->
        <h2 style="margin-left: 2%;">Browse All Listings (12)</h2>
        
        <!-- Main Container -->
        <div class="all_listings">

            <!-- All listings -->
            <%
            for (let i = 0; i < 12; i++) {
            %>            
                <a href="/user_product_view" style="width: 25%; text-decoration: none; color: inherit;">
                    <%- include ('./partials/listing_subview_square.ejs') %>
                </a>
            <%
            }
            %>
        </div>
    </body>
</html>