<!-- views/index.ejs -->
<!DOCTYPE html>
<!-- views/listings.ejs -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Listings</title>
    </head>

    <body>
        <!-- Website Title -->
        <div>
            <h1 >Hamster Food Store</h1>
        </div>

        <%- include ('./partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h1>All Listings</h1>
    </body>
</html>