<!-- views/onboarding.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/onboarding_styles.css">
        <title>Welcome</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('./partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h2 style="margin-left: 2%; margin-bottom: -1%">Welcome!</h2>

        <div class="onboarding_view">
            <!-- Create Account -->
            <div class="login_signup_container">
                <h3>Create your account to get started.</h3>
                <form>
                    <input type="text" class="onboarding_input_public" placeholder="Email">
                </form>
                <form>
                    <input type="text" class="onboarding_input_private" placeholder="Password">
                </form>
                <form>
                    <input type="text" class="onboarding_input_private" placeholder="Confirm Password">
                </form>
                <button class="submit_onboard_button">Create Account</button>
            </div>

            <!-- Log in --> 
            <div class="login_signup_container">
                <h3>Already have an account? Sign in.</h3>
                <form>
                    <input type="text" class="onboarding_input_public" placeholder="Username or Email">
                </form>
                <form>
                    <input type="text" class="onboarding_input_private" placeholder="Password">
                </form>
                <button class="submit_onboard_button">Log in</button>
            </div>
        </div>
    </body>
</html>