<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Welcome</title>
    </head>
    <body>
        <!-- Website Title -->
        <div>
            <h1 >Hamster Food Store</h1>
        </div>
        <!-- Navigation Bar -->
        <div class="navbar">
            <span><a href="/listings">Listings</a></span>
            <span><a href="/vendor_dashboard">Vendor Dashboard</a></span>
            <span><a href="/user_cart">Cart</a></span>
            <span><a href="/profile">Profile</a></span>
        </div>

        <!-- Content -->
        <h1><%= "Welcome!" %></h1>
    </body>
</html>