<!-- views/onboarding.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/onboarding_styles.css">
        <title>Welcome</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('./partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h2 style="margin-left: 2%; margin-bottom: -1%">Welcome!</h2>

        <!-- Main container -->
        <div class="onboarding_view">
            
            <!-- Create Account - Left Side -->
            <div class="login_signup_container">
                <h3>Create your account to get started.</h3>

                <!-- Email -->
                <form>
                    <input type="text" class="onboarding_input_public" placeholder="Email">
                </form>

                <!-- Password -->
                <form>
                    <input type="text" class="onboarding_input_private" placeholder="Password">
                </form>

                <!-- Confirm Password -->
                <form>
                    <input type="text" class="onboarding_input_private" placeholder="Confirm Password">
                </form>

                <!-- Create Account Button -->
                <button class="submit_onboard_button">Create Account</button>
            </div>

            <!-- Log in - Right Side --> 
            <div class="login_signup_container">
                <h3>Already have an account? Sign in.</h3>

                <!-- Email -->
                <form>
                    <input type="text" class="onboarding_input_public" placeholder="Email">
                </form>

                <!-- Password -->
                <form>
                    <input type="text" class="onboarding_input_private" placeholder="Password">
                </form>

                <!-- Log in Button -->
                <button class="submit_onboard_button">Log in</button>
            </div>
        </div>
    </body>
</html>