<!-- views/onboarding.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>Welcome</title>
    </head>

    <body>
        <!-- Website Title -->
        <div>
            <h1 >hamsterstore</h1>
        </div>

        <!-- Navigation Bar -->
        <%- include ('./partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h1>Welcome!</h1>

        <div style="display: flex; flex-flow: row nowrap; justify-content: space-around;"  >

            <!-- Create Account -->
            <div style="padding: 20px;">
                <h3 style="padding: 20px;">Create your account to get started.</h3>
                <form method = "POST" style="padding: 20px;">
		  <div>
                    <input name="newEmail" "id=newEmail" type="text" placeholder="Email">
		  </div>
		  <div>
                    <input name="newUsername" "id=newUsername" type="text" placeholder="Username">
		  </div>
		  <div>
                    <input name="newPassword" "id=newPassword" type="text" placeholder="Password">
		  </div>
		  <div>
                    <input type="text" placeholder="Confirm Password">
		  </div>
		  <div>
		    <button>Create Account</button>
		  </div>
                </form>
            </div>

            <!-- Log in --> 
            <div style="padding: 20px;">
                <h3 style="padding: 20px;">Already have an account? Sign in.</h3>
                <form style="padding: 20px;">
                    <input type="text" placeholder="Username or Email">
                </form>
                <form style="padding: 20px;">
                    <input type="text" placeholder="Password">
                </form>
                <div style="text-align: left; padding: 20px;">
                    <a href="../listings"><h3>Log in</h3></a>
                </div>
            </div>
        </div>
    </body>

     <script>
	
     </script> 
</html>