<!-- views/onboarding.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/onboarding_styles.css">
        <title>Welcome</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('./partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h2 style="margin-left: 2%; margin-bottom: -1%">Welcome!</h2>

        <!-- Main container -->
        <div class="onboarding_view">
            
            <!-- Create Account - Left Side -->
            <div class="login_signup_container">
                <h3 style="padding: 20px;">Create your account to get started.</h3>
                <form method = "POST" style="padding: 20px;">
		              <div><input name="newEmail" "id=newEmail" type="text" placeholder="Email"></div>
		              <div><input name="newUsername" "id=newUsername" type="text" placeholder="Username"></div>
		              <div><input name="newPassword" "id=newPassword" type="text" placeholder="Password"></div>
		              <div><input type="text" placeholder="Confirm Password"></div>
		              <div><input type="hidden" name="action" value="createaccount" /></div>
		              <div><button>Create Account</button></div>
                </form>
            </div>

            <!-- Log in - Right Side -->
            <div class="login_signup_container">
                <h3 style="padding: 20px;">Already have an account? Sign in.</h3>
                <form method = "POST" style="padding: 20px;">
		              <div><input name="queryUsername" "id=queryUsername" type="text" placeholder="Username"></div>
		              <div><input name="queryPassword" "id=queryPassword" type="text" placeholder="Password"></div>
		              <div><input type="hidden" name="action" value="login"></div>
		              <div><button>Sign In</button></div>
                </form>
            </div>
        </div>
    </body>
</html>