<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="/styles/user/user_profile_styles.css">
        <title>Profile</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('./partials/navigation_bar.ejs') %>

        <!-- Header -->
        <div style="margin-left: 2%; display: flex; align-items: column;">
            <h2>My Profile -</h2>
            <h2>- Leeroy Tiger</h2>
        </div>

        <!-- Orders -->
        <div class="user_profile_view">
            <div class="user_profile_orders_container">
                <div class="user_profile_current_orders_view">
                    <h3>Current Orders</h3>
                    <%
                    for (let i = 0; i < 2; i++) {
                    %>            
                        <%- include ('./partials/user_order_subview.ejs') %>
                    <%
                    }
                    %>    
                </div>

                <div class="user_profile_previous_orders_view">
                    <h3>Previous Orders</h3>
                    <%
                    for (let i = 0; i < 4; i++) {
                    %>            
                        <%- include ('./partials/user_order_subview.ejs') %>
                    <%
                    }
                    %>

                </div>
            </div>
            

            <!-- User Statistics -->
            <div class="user_profile_statistics_view">
                <h3>My User Stats</h3>
                <div class="information_row">
                    <p>Total Orders</p>
                    <p style="font-family: 'Poppins Light';">8 </p>
                </div>
                <div class="information_row">
                    <p>Address</p>
                    <p style="font-family: 'Poppins Light'; font-size: small;">1 Trinity Place, San Antonio, Texas 78212</p>
                </div>
                <div class="information_row">
                    <p>Username</p>
                    <p style="font-family: 'Poppins Light';">leeroy-tiger1 </p>
                </div>
                <div class="information_row">
                    <p>Email</p>
                    <p style="font-family: 'Poppins Light';">leeroy_is_the_best@trinity.edu </p>
                </div>
            </div>
        </div>
    </body>
</html>