<!-- views/user/user_checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>User Checkout</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h2 style="margin-left: 2%;">Checkout</h2>

        <div class="checkout_view">
            <div class="checkout_information_views">
                <div class="checkout_information_subview">
                    <h2>Shipping Information</h2>
                    <div class="product_information_row">
                        <p>Address</p>
                        <p>1 Trinity Place</p>
                    </div>
                    <div class="product_information_row">
                        <p>City</p>
                        <p>San Antonio</p>
                    </div>
                    <div class="product_information_row">
                        <p>State</p>
                        <p>Texas</p>
                    </div>
                    <div class="product_information_row">
                        <p>Zip</p>
                        <p>78212</p>
                    </div>

                </div>
                <div class="checkout_information_subview">
                    <h2>Payment Information</h2>
                    <div class="product_information_row">
                        <p>Payment Type</p>
                        <p>Card</p>
                    </div>
                    <div class="product_information_row">
                        <p>Card Type</p>
                        <p>Visa</p>
                    </div>
                    <div class="product_information_row">
                        <p>Card Number</p>
                        <p>1234567890</p>
                    </div>
                    <div class="product_information_row">
                        <p>Name on Card</p>
                        <p>Leeroy </p>
                    </div>
                </div>    
            </div>

            <div class="checkout_box">
                <h2>Order Details</h2>

                <div class="product_information_row">
                    <h3>Estimated Delivery</h3>
                    <p style="font-family: 'Poppins Light';">September 5th (2 days)</p>
                </div>

                <div class="product_information_row">
                    <h3>Subtotal</h3>
                    <h3 style="font-family: 'Poppins Light';">23.96</h3>
                </div>

                <div class="product_information_row">
                    <h3>Tax</h3>
                    <h3 style="font-family: 'Poppins Light';">4.03</h3>
                </div>

                <div class="product_information_row">
                    <h3>Estimated Shipping</h3>
                    <h3 style="font-family: 'Poppins Light';">6.07</h3>
                </div>

                <div class="product_information_row">
                    <h3>Total</h3>
                    <h3 style="font-family: 'Poppins Light';">29.05</h3>
                </div>
                <button class="submit_order_button">Submit Order</button>
            </div>
        </div>
    </body>
</html>