<!-- views/user/user_checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>User Checkout</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h1>Checkout</h1>

        <div class="checkout_list">
            <div>
                <h2>Shipping Address</h2>
                <h2>Payment Information</h2>
                <h2>Appoximate Arrival Date</h2>
                <h2>Subtotal</h2>
                <h2>Tax</h2>
                <h2>Shipping</h2>
            </div>
            <div style="text-align: right; ">
                <h2>1 Trinity Place #1949</h2>
                <h2>Visa Ending in 1234</h2>
                <h2>March 30th</h2>
                <h2>19.95</h2>
                <h2>1.64</h2>
                <h2>7.46</h2>
            </div>
        </div>
        <div class="checkout_list">
            <h1>Total</h1>
            <h1>29.05</h1>
        </div>
        <div style="text-align: right; width: 60%;">
            <a href="../listings"><h1>Submit Order</h1></a>
        </div>
    </body>
</html>