<!-- views/user/user_product_view.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>User Product View</title>
    </head>

    <body>
        <!-- Website Title -->
        <div>
            <h1 >hamsterstore</h1>
        </div>

        <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h1>View Product</h1>
        <div class="user_product_view">
            <img src="https://www.creativefabrica.com/wp-content/uploads/2023/04/06/Cute-Hamster-kawaii-clipart-Graphics-66428546-1.jpg" alt="Image" style="max-width: 50%; max-height: 50%;">
            <div class="user_product_view_info">
                <h1 class="listing_subview_title">Happy Mix</h1>
                <h1 class="listing_subview_price">$5</h1>
            </div>
        </div>

        <h1><a class="nav_bar_buttons" href="/user_cart">Add to Cart</a></h1>
    </body>
</html>