<!-- views/user/user_product_view.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>User Product View</title>
    </head>

    <body>
         <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h2 style="margin-left: 2%; margin-bottom: -5px;">Happy Mix</h2>

        <div class="user_product_view">
            <div class="user_product_view_info">
                <div class="product_information_row">
                    <p>Vendor</p>
                    <p class="product_information_detail_text">vendor name </p>
                </div>
                <div class="product_information_row">
                    <p>Vendor Location</p>
                    <p class="product_information_detail_text">vendor location</p>
                </div>
                <div class="product_information_row">
                    <p>Amount</p>
                    <p class="product_information_detail_text">amount</p>
                </div>
                <div class="product_information_row">
                    <p>Ingredients</p>
                    <p class="product_information_detail_text">ingredient 1, ingredient 2, ingredient 3</p>
                </div>
                <div class="product_information_row">
                    <p>Description</p>
                    <p class="product_information_detail_text">lorem ipsum</p>
                </div>
            </div>
            <div class="product_view_image_container">
                <img class="product_view_image" src="https://www.creativefabrica.com/wp-content/uploads/2023/04/06/Cute-Hamster-kawaii-clipart-Graphics-66428546-1.jpg" alt="Image">
            </div>
        </div>

        <div class="add_to_cart">
            <h1 style="margin-left: 2%; flex-grow: 1;">$15.99</h1>
            <input class="quantity_form_input" type="text" placeholder="1">
            <h2><a class="nav_bar_buttons" href="/user_cart">Add to Cart</a></h2>
        </div>
    </body>
</html>