<!-- views/user/user_checkout.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>User Checkout</title>
    </head>

    <body>
        <!-- Website Title -->
        <div>
            <h1 >Hamster Food Store</h1>
        </div>

        <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Content -->
        <h1>Checkout</h1>
    </body>
</html>