<!-- views/user/user_cart.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/styles.css">
        <title>User Cart</title>
    </head>
    
    <body>
        <!-- Website Title -->
        <div>
            <h1 >hamsterstore</h1>
        </div>

        <!-- Navigation Bar -->
        <%- include ('../partials/navigation_bar.ejs') %>

        <!-- Content -->
        <div style="display: flex; flex-flow: row nowrap; justify-content: space-between; width: 65%;"> 
            <h1>Shopping Cart%></h1>
            <h1><a href="/user_checkout"> Checkout ($20)</a></h1>
        </div>
        <div class="shopping_cart_listings">
            <%
            for (let i = 0; i < 4; i++) {
            %>
                <style>
                </style>
                <a href="/user_product_view" style="width: 100%; text-decoration: none; color: inherit;">
                    <%- include ('../partials/listing_subview_list.ejs') %>
                </a>     
            <%
            }
            %>
        </div>
    </body>
</html>