.user_checkout_view{
    border-radius: 10px;
    padding: 2%;
    margin-top: -2%;
    gap: 5%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.user_checkout_information_view{
    width: 40%;
}

.user_checkout_information_subview{
    padding: 5%;
    background-color: #ffd9d9;
    margin-bottom: 2%;
    border-radius: 10px;
}

.user_checkout_order_details_container{
    width: 35%;
    background-color: #d3d3d3;
    padding: 2%;
    border-radius: 10px;
}

.user_checkout_submit_order_button{
    margin-top: 5%;
    padding: 5%;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: "Poppins";
}