.user_profile_view{
    padding: 2%;
    margin-top: -2%;
    gap: 5%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.user_profile_statistics_view{
    width: 35%;
    background-color: lightblue;
    padding: 2%;
    border-radius: 10px;
}

.user_profile_orders_container{
    width: 65%;
}

.user_profile_current_orders_view{
    background-color: lightpink;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
}

.user_profile_previous_orders_view{
    background-color: lightpink;
    padding: 2%;
    border-radius: 10px;
}