.onboarding_view{
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: flex-start;
    gap: 5%;
    padding: 2%;
}

.onboarding_input_public{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 2px solid #dddddd;
    border-radius: 5px;
    outline: none;
    background: #eeeeee;
    flex-grow: 4;
    font-family: 'Poppins';
    font-size: small;
}

.onboarding_input_private{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 2px solid #dddddd;
    border-radius: 5px;
    outline: none;
    background: #eeeeee;
    flex-grow: 4;
    font-family: 'Poppins';
    font-size: small;
}


.submit_onboard_button{
    padding: 5%;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: "Poppins";
}

.login_signup_container{
    display: flex; 
    flex-flow: column nowrap; 
    justify-content: flex-start;

    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 2%;
    gap: 20px;
}
