.navigation_bar {
    padding: 2%;
    background-color: #5d00ff;
    border-radius: 10px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 3%;
    
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
}

/* .vendor_navigation_bar {
    padding: 2%;
    background-color: #f3f3f3;
    border-radius: 10px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
    
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 2%;
} */


.nav_bar_header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nav_bar_search_container {
    flex-grow: 4;
}

.nav_bar_button {
    margin-right: 10px;
    flex-grow: 1;
}

.nav_bar_button_icon {
    max-width: 40px;
    max-height: 40px;
    opacity: 80%;
}
